<!DOCTYPE html>

<html lang="en-AU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Metric/Imperial Converter</title>
    <meta name="description" content="An example of the Free Code Camp Metric/Imperial Converter Project">
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">

    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>
      <h1 class="text-center fw-bold mt-4 mb-4">
        <span class="text-multi-color">Metric/Imperial Converter</span>
      </h1>
    </header>

    <hr>

    <div class="container text-center mt-5">
      <section>
        <h3 class="mb-3">Example usage</h3>
        <code>/api/convert?input=4gal</code><br>
        <code>/api/convert?input=1/2km</code><br>
        <code>/api/convert?input=5.4/3lbs</code><br>
        <code>/api/convert?input=kg</code><br>
        <h3 class="mt-5 mb-3">Example return</h3>
        <code>{ initNum: 3.1, initUnit: 'mi', returnNum: 4.98895, returnUnit: 'km', string: '3.1 miles converts to 4.98895 kilometers' }</code>
      </section>

      <section class="mt-5">
        <div id='testui' >
          <h3 class="mb-3">Front-End</h3>
          <form id="convertForm" class="border">
            <input type="text" id="convertField" name="input" placeholder="3.1mi" style="width: 200px">
            <input id="convert" type="submit" value='Convert!'>
          </form>
          <p id='result'></p>
          <code id='jsonResult'></code>
        </div>
      </section>
    </div>

    <p class="text-center fw-bold mt-5 mb-0">
      <span class="text-multi-color">Developed by </span>
      Minh Ta
    </p>

    <script src="/public/js/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="/public/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script>
      $(function() {
        $('#convertForm').submit(function(event) {
          event.preventDefault();
          $.ajax({
            url: '/api/convert',
            type: 'get',
            data: $('#convertForm').serialize(),
            success: function(data) {
              $('#result').text(data.string || data);
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
      });
   </script>
  </body>
</html>
